<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>BookList</title>
</head>
<body>
<a href="/createBook">Create new book</a>
<h1>Book</h1>
<table border="1">
    <tr>
        <th>Name</th>
        <th>Author</th>
        <th>Price</th>
        <th>Category</th>
        <th>Image</th>
        <th colspan="2">Action</th>
    </tr>
    <th:block th:each="book : ${books}">
        <tr>
            <td th:text="${book.name}"></td>
            <td th:text="${book.author}"></td>
            <td th:text="${book.price}"></td>
            <td th:text="${book.category.name}"></td>
            <td>
                <img th:src="@{'/img/'+${book.image}}" width="100">
            </td>
            <td><a th:href="@{/editBook/__${book.id}__ }">Edit</a></td>
            <td><a th:href="@{/deleteBook/__${book.id}__ }">Delete</a></td>
        </tr>
    </th:block>
</table>
</body>
</html>